In [2]:
#import libarys
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('raw_data/whitley_county_uneymployment.csv')
# Display the first few rows of the DataFrame
df.head()

  observation_date  KYWHIT5URN
0       1990-01-01         7.8
1       1990-02-01         8.4
2       1990-03-01         9.2
3       1990-04-01         7.7
4       1990-05-01         7.8

In [ ]:
#rename the columns
df = df.rename(columns={'KYWHIT5URN': 'Uneymployment_Rate', 'observation_date': 'Date'})
# changes the column date to datetime format
df['Date'] = pd.to_datetime(df['Date'])
#prints the first few rows of the DataFrame
df.head()

        Date  Uneymployment_Rate
0 1990-01-01                 7.8
1 1990-02-01                 8.4
2 1990-03-01                 9.2
3 1990-04-01                 7.7
4 1990-05-01                 7.8