In [2]:
#import libarys
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('raw_data/whitley_county_uneymployment.csv')
df.head()

  observation_date  KYWHIT5URN
0       1990-01-01         7.8
1       1990-02-01         8.4
2       1990-03-01         9.2
3       1990-04-01         7.7
4       1990-05-01         7.8